<%- @title = "Edit Sass Extension" %>
<%- @h1 = "Edit Extension" %>
<%- @selected = :extensions %>

<%= form_for @extension, :html => {:multipart => true} do |f| %>
  <%= render :partial => "fields", :locals => {:f => f} %>
  <p class="buttons">
    <button type="submit">Save Changes</button>
    or
    <%= link_to "Cancel", :back, :class => "cancel" %>
  </p>
<% end %>

