$font-family-text: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif !default;
$font-family-display: "chaparral-pro",Georgia,"Times New Roman",Times,serif;
$font-family-code: "Source Code Pro",Monaco,Menlo,Consolas,"Courier New",monospace !default;
$base-font-size: 14px !default;
