<%- @title = "Sass Extension Registry Sign In" %>
<%- @h1 = "Please sign in!" %>
<%- @selected = :signin %>

<h2><%= @h1 || @title %></h2>

<div class="mt4">
<%= link_to "Sign in with GitHub", omniauth_authorize_path(resource_name, 'github'), class: "button github-button" %>
</div>
